<ion-header>
    <ion-navbar>
        <ion-title>{{episode?.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="images-page">
    <ion-row>
        <ion-col *ngFor="let sound of episode?.sounds" (click)="onSoundClick(sound)">
            <img src="assets/imgs/sounds/{{sound.episodeId}}/{{sound.logo.fileName}}" alt="{{sound.logo.description}}" [@sound]="sound.state">
            <ion-icon *ngIf="sound.state === 'active'" name="musical-note"></ion-icon>
            <div>{{sound.title}}</div>
        </ion-col>
    </ion-row>
        
</ion-content>